<div class="container">
      <div class="card">
        <div class="card-header">
          Teams
        </div>
        <div class="card-body">
          <div class="e-table">
            <div>
              <div class="row">
                <div class="col-md-6">
                  <div *ngIf="showSuccess" class="alert alert-success alert-dismissible">
                    <strong>Success!</strong> Changes has been Saved.
                  </div>
                </div>
                <div class="col-md-3">
                  
                </div>
                <div class="col-md-3" *ngIf="isadmin">
                  <div class="text-center px-xl-3">
                    <button class="btn btn-success btn-block float-right" (click)="Add()" type="button" data-toggle="modal"
                      data-target="#addTeamModel">Create Team</button>
                  </div>
                </div>
              </div>
              <br>

              <table class="table table-bordered">
                <thead>
                  <tr class="tbhead">
                    <th>#</th>
                    <th class="max-width">Team Name</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let team of Teams; let i = index">
                    <td>{{ i+1 }}</td>
                    <td class="text-nowrap align-middle">{{team.teamName}}</td>
                    <td class="text-center align-middle">
                      <div class="btn-group align-top">
                        <button class="btn btn-sm btn-outline-secondary badge" type="button" data-toggle="modal"
                          data-target="#addTeamModel" (click)="Edit(team.teamID)">Edit</button>
                        <button class="btn btn-sm btn-outline-secondary badge" (click)="delete(team.teamID)" type="button"><i
                            class="fa fa-trash"></i></button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
      <!-- User Form Modal -->
      <!-- The Modal -->
      <div class="modal" id="addTeamModel">
        <div class="modal-dialog">
          <div class="modal-content">
            <form #RegisterTeam="ngForm" (submit)="submitTeam()">
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">{{modelTitletext}}</h4>
                <button #closebutton type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">

                <div class="form-group">
                  <input type="text" 
                  autocomplete="off"
                   id="TeamName"
                    name="TeamName"
                     #TeamName="ngModel"
                    placeholder="Team Name"
                     ngModel 
                     class="form-control form-control-lg rounded-0"
                      required
                    maxlength="30">

                  <br>
                  <div *ngIf="TeamName.invalid && (TeamName.dirty || TeamName.touched)" style="color: red;">
                    <div *ngIf="TeamName.errors.required">
                      Team Name is required.
                    </div>
                    <div *ngIf="TeamName.errors.maxlength">
                      Team Name does not exceed 30 characters.
                    </div>
                  </div>
                </div>


              </div>

              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" [disabled]="!RegisterTeam.valid">{{modelButtontext}}</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>