<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="mini-stat clearfix bg-facebook rounded">
                <span class="mini-stat-icon"><i class="fa-puzzle-piece "></i></span>
                <div class="mini-stat-info">
                    <span>{{summaryinf[0].players}}</span>
                    Players
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="mini-stat clearfix bg-twitter rounded">
                <span class="mini-stat-icon"><i class="fa-puzzle-piece "></i></span>
                <div class="mini-stat-info">
                    <span>{{summaryinf[0].teams}}</span>
                    Teams
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="mini-stat clearfix bg-googleplus rounded">
                <span class="mini-stat-icon"><i class="fa-puzzle-piece "></i></span>
                <div class="mini-stat-info">
                    <span>{{summaryinf[0].matches}}</span>
                   Matches
                </div>
            </div>
        </div>     
	</div>
</div>